.firstnavigation__panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 95px;
  left: 70px;
  background-color: whitesmoke;
  height: 58vh;
  width: 202px;
}

.secondnavigation__panel {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 202.4px;
  height: 58vh;
  width: 202px;
  z-index: -1;
}

.navigation__panelItems {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: black;
  align-items: center;
  justify-content: center;
}

.navigation__panelItems > p {
  flex: 0.95;
  padding: 5.7px;
  font-size: 0.8rem;
}

.navigation__panelIcon {
  font-size: xx-small;
  z-index: -1;
  padding: 1px;
}

.navigation__panelItems:hover {
  color: #1e9cb7;
  background-color: #d8d5d5;
}

.navigation__panelItems:hover .navigation__panelIcon {
  z-index: +1;
}

.navigation__panelItems:hover .secondnavigation__panel {
  z-index: +1;
}
